*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

body {
  padding: 25px;
  margin: 0;
  background-color: #e4e8e2 !important;
}

header {
  margin-bottom: 20px;
}

header img {
  max-width: 100%;
  height: auto;
}

header a, header button {
  margin-left: 15px;
  text-decoration: none;
  color: #000;
}

header a:hover{
  text-decoration: none; 
  color: black;
  border-bottom: 2px solid black; 
}

.navbar-default{
  background-color: transparent !important;
}

.form-control{
  border: 1px solid #678a73 !important;
}

.container{
  margin-top: 5%;
}

.container-home {
  position: relative; 
  height: 600px; 
}

.container-centro {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%; 
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px; 
  padding: 20px; 
}

.card {
  max-width: 250px;
  max-height: 300px;
  transition: transform 50ms ease-out;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}
.card-body {
  max-height: 100px;
  overflow: hidden;
}


footer {
  margin-top: 20px;
  text-align: center;
}

.btn{
  border-radius: 20px !important;
}

.center{
  display: flex;
  justify-content: center;
}

.icon-style {
  font-size: 2rem;
  color: #007bff;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.item-box {
  border: 1px solid #d3d3d3;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
}

.dropdown-menu a {
  display: block;
  padding: 8px 10px;
  color: #000;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.btn-back-green{
  background-color: #678a73 !important; 
  color: #e4e8e2 !important;
}

.btn-back-green:hover{
  background-color: #678a73e0 !important; 
  color: #e4e8e2 !important;
  border: 0;
}

.btn-outline-lightgreen{
  background-color: #e4e8e2 !important;
  color: #678a73 !important; 
  border: 1px solid #678a73 !important; 
}

.btn-outline-lightgreen:hover{
  background-color: #678a73 !important;
  color: #e4e8e2 !important;
}

.msg-erro{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d93f3fd6;
  background-color: #d93f3fa3;
  color: black;
  width: 300px;
  border-radius: 5px;
  height: 40px;
}

.none{
  display: none;
}

.fieldset-gray-pd{
  border: 1px solid #9f9f9f;
  border-radius: 3px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.legend-field{
  width: fit-content;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
}

.d-flex{
  display: flex;
}

.ml-5{
  margin-left: 5px;
}

.ml-10{
  margin-left: 10px;
}

.carousel {
  position: relative;
  width: 90%;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

/* Estilos da legenda */
.caption {
  position: relative; /* Movemos a legenda para fora da imagem */
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
  width: 100%; /* Largura da legenda será 100% do slide */
  box-sizing: border-box; /* Garante que padding seja incluído na largura */
  margin-top: 10px; /* Distância entre a imagem e a legenda */
}

.caption h2 {
  margin: 0;
}

/* Estilos das setas */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}



.carousel:hover .prev, 
.carousel:hover .next {
  display: block;
}

/* Ajuste da logo para ser responsiva e não crescer demais */
.logo-header {
  max-width: 150px; /* Define o tamanho máximo da logo */
  max-height: 50px; /* Limita a altura máxima da logo */
  width: auto; /* Ajusta a largura de forma proporcional */
  height: auto; /* Mantém a proporção da imagem */
  display: block;
}

.navbar-brand {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza a logo na navbar */
}

/* Para telas menores */
@media (max-width: 768px) {
  .logo-header {
    max-width: 100px; /* Reduz o tamanho da logo em telas menores */
    max-height: 40px; /* Limita ainda mais a altura */
  }
  .caption {
    font-size: 16px;
    padding: 10px;
  }
}

.mt-15{
  margin-top: 15px;
}