body {
  padding: 25px;
  margin: 0;
  background-color: #e4e8e2 !important;
}

header {
  margin-bottom: 20px;
}

header img {
  max-width: 100%;
  height: auto;
}

header a, header button {
  margin-left: 15px;
  text-decoration: none;
  color: #000;
}

header a:hover{
  text-decoration: none; 
  color: black;
  border-bottom: 2px solid black; 
}

.form-control{
  border: 1px solid #678a73 !important;
}

.principal{
  margin-top: 5%;
}

.container-home {
  position: relative; 
  height: 600px; 
}

.container-centro {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 60%; 
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px; 
  padding: 20px; 
}

.carousel-item {
  height: 100%; 
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-width: none; 
  max-height: 500px; 
  object-fit: cover;
}

.card {
  max-width: 250px;
  max-height: 300px;
  transition: transform 50ms ease-out;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}
.card-body {
  max-height: 100px;
  overflow: hidden;
}


footer {
  margin-top: 20px;
  text-align: center;
}

.btn{
  border-radius: 20px !important;
}

.center{
  display: flex;
  justify-content: center;
}

.icon-style {
  font-size: 2rem;
  color: #007bff;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.item-box {
  border: 1px solid #d3d3d3;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 100%;
}

.dropdown-menu a {
  display: block;
  padding: 8px 10px;
  color: #000;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.btn-back-green{
  background-color: #678a73 !important; 
  color: #e4e8e2 !important;
}

.btn-back-green:hover{
  background-color: #678a73e0 !important; 
  color: #e4e8e2 !important;
  border: 0;
}

.btn-outline-lightgreen{
  background-color: #e4e8e2 !important;
  color: #678a73 !important; 
  border: 1px solid #678a73 !important; 
}

.btn-outline-lightgreen:hover{
  background-color: #678a73 !important;
  color: #e4e8e2 !important;
}

.msg-erro{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d93f3fd6;
  background-color: #d93f3fa3;
  color: black;
  width: 300px;
  border-radius: 5px;
  height: 40px;
}

.none{
  display: none;
}